{% extends 'layout.html' %}

{% block title %} Change Your Password {% endblock %}

{% block content %}
<h1 class="page-title">Change Your Password</h1>

<div class="new-password-rules">
  <h3 class='sub-title' >Use the following rules when creating your new password:</h3>
  <ul>
    {% for rule in rules %}
      <li>{{ rule }}</li>
    {% endfor %}
  </ul>
</div>

<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="button" value="Change Password">
</form>
{% endblock %}