{% extends 'layout.html' %}
{% block content %}
    <div class="grid-75">
        <h1 class="page-title">Welcome!</h1>
        <p>
            This is a simple user-profile app built with django. This is part of an on-going journey where I learn python web development. The goal of this project was to 
            get comfortable with django forms and the built in user model.
        </p>
        <p>
            Feel free to sign up and create a profile. Once signed up, you'll be able to upload an avatar and share other details about yourself. You can always update your
            profile information, including your password!
        </p>
    </div>
{% endblock %}
